.error-message {
    background-color: rgba(239, 68, 68, 0.1);
    color: #ef4444;
    padding: 12px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    border-left: 4px solid #ef4444;
    margin-bottom: 15px;
    
}