#root {
 /* backgrounds */
  --bg-main: #0D1B2A;
  --accent-primary: #F15A29; 
  --accent-secondary: #9EA3A8;
  --bg-card: #1b263b;
  --text-light: #f9f9f9;
  --text-muted: #95a5a6;
  --transition: all 0.3s ease;
  background-color: #0D1B2A;
}

*{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.page-content{
  padding-top: 4.7em;
  min-height: 100vh;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-page {
  padding-top: 0 !important;
}
