.header-cont{
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.header-video-background{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
.titulos{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0 1rem;
}
.titulos h1, .titulos p{
    width: 40%;
    text-align: right;
    padding-right:0.5em;
    color: white;
}
.titulos h1{
    font-size: 4em;
}
.titulos p{
    font-size: 2em;
}


