.nosotros-section{
    width: 100%;
    height: 100vh;
    padding: 1em;
    display: flex;

}

.nosotros-conteainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nosotros-history{
    border-radius: 1em;
    width: 40%;
    background: var(--bg-main);
}
.nosotros-stats{
    padding: 1em;
    border-radius: 1em;
    background: var(--accent-secondary);
    width: 40%;
}
.nosotros-inicio{
    padding: 0.5em;
    border-radius: 0.5em ;
    background: var(--accent-primary) ;
    color: white;
    font-size: 1em;
}
.nosotros-tittle{
    padding: 0.5em;
    color: white;
}
.dividor{
    height: 5px;
    width: 10em;
    margin-left: 0.5em;
    border-radius: 1em;
    background: var(--accent-primary);
}