.negro{
    height: 100vh;
    background-color: black;
}
.celeste{
    height: 100vh;
    background-color: rgb(66, 230, 221);
}
.blanco{
    height: 100vh;
    background-color: rgb(255, 255, 255);
}